.DS_Store
/crystal_knowledge/
/.shards/
/lib/
examples/demo_app/lib/
examples/jqcp_demo/lib/
examples/jqcp_demo/bin/
examples/jqcp_demo/*.pem
/bin/
!/bin/.gitkeep
!/bin/morganite
*.log
/tmp/
/coverage/
*.dwarf
/morganite
/morganite-web
bin/morganite
